<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

  <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
       content to avoid any CSS collisions with our real content. -->
  <div class="wrap">
    <div class="masthead">
      <div class="container">
        <h3 class="masthead-title">
          <a href="/" title="Home">{{ site.name }}</a>
          {% include smoke-free.html %}
        </h3>
      </div>
    </div>

    <p class="center"><img src="https://source.unsplash.com/random/800x600" alt="" /></p>

    <hr>

    <div class="container content">
      {{ content }}
    </div>
  </div>

  <!-- <label for="sidebar-checkbox" class="sidebar-toggle"><i class="fa fa-bars"></i></label> -->

{% include scripts.html %}
</body>
</html>
